<!-- Add Trip -->
<app-new-trip-modal></app-new-trip-modal>

<!-- Edit Trip -->
<app-edit-trip-modal
  [trip]="existedTripData()"
  (editSubmit)="handleEditSubmitted($event)"
></app-edit-trip-modal>

<div class="p-10">
  <div class="flex gap-5 w-[70%] mx-auto mt-20">
    <div class="flex gap-2 w-full">
      <input type="text" placeholder="กรอก ID สถานที่" class="input input-primary w-full" [(ngModel)]="searchId" (keyup.enter)="searchTripById()" />
      <button class="btn btn-primary" (click)="searchTripById()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="flex gap-2 w-full">
      <input type="text" placeholder="กรอกชื่อสถานที่" class="input input-primary w-full" [(ngModel)]="tripName" (keyup.enter)="searchTripByName()" />
      <button class="btn btn-primary" (click)="searchTripByName()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="flex gap-2 w-full">
      <select class="select select-primary w-full" [(ngModel)]="selectedDestination">
        <option value="">ทั้งหมด</option>
        @for (destination of destinations; track $index) {
          <option [value]="destination.name">{{ destination.name }}</option>
        }
      </select>
      <button class="btn btn-primary" (click)="searchByDestination()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <!-- Trip Cards Section -->
  <div class="mt-20 flex justify-center items-center">
    <div class="grid grid-cols-3 gap-10">
      @for (trip of trips(); track trip.idx) {
        <app-trip-card
          [id]="trip.idx"
          [name]="trip.name"
          [country]="trip.country"
          [cover]="trip.coverimage"
          [destination]="trip.destination_zone"
          [detail]="trip.detail"
          [editMode]="isEditMode()"
          (deleteClicked)="onDelete($event)"
          (editClicked)="onEdit($event)"
        ></app-trip-card>
      }
    </div>
  </div>
</div>
